#header{
    background-image: url(./0134_004.jpg);
    margin: 0px;
    padding: .5em;
    display: flex;
    align-items: center;
    border-bottom: solid rgb(149, 149, 193);
}

#navbar{
    /*background-color: white;*/
    display: grid;
    grid-template-columns: 100px 150px 100px 125px;
    list-style: none;
    font-size: 1.25em;
    font-family: fantasy;
    margin: 0;
    margin-left: 100px;
}
li:hover{
    color: white;
}

h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 1em;
}

body{
    background-image: url(./skybg.jpg);
    
    margin: 0;
}

main{
    background-color: rgb(162, 208, 228);
    height: 60vh;
    
}
#logo{
    height: 3em;
    
}

#clock{
    font-family: fantasy;
}